registry=https://registry.npmjs.org/
@clerk:registry=https://registry.npmjs.org/
@prisma:registry=https://registry.npmjs.org/
@radix-ui:registry=https://registry.npmjs.org/
@stripe:registry=https://registry.npmjs.org/
@supabase:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
always-auth=false
